<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/Img/Parallelogram.png" alt="Card image cap">
    <input class="inputLength" type="text" [(ngModel)]="parallelogram.sideB"  style="position: absolute; top: 50px;" >
    <input class="inputLength" type="text" [(ngModel)]="parallelogram.sideA"  style="position: absolute; top: 100px; left: 130px;">
    <input class="inputLength" type="text" [(ngModel)]="parallelogram.height" style="position: absolute; top: 50px; left: 100px;">
    <div class="card-body">
        <h3>Arealet er {{parallelogram.calculateArea()}}</h3>
        <h3>Omkredsen er {{parallelogram.calculatePerimeter()}}</h3>
    </div>
</div>