<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/Img/trapez.png" alt="Card image cap">
    <input class="inputLength" type="text" [(ngModel)]="trapez.sideA" style="position: absolute; top: 5px; left: 130px;">
    <input class="inputLength" type="text" [(ngModel)]="trapez.sideB" style="position: absolute; top: 50px; left: 10px;" >
    <input class="inputLength" type="text" [(ngModel)]="trapez.sideC"  style="position: absolute; top: 155px; left: 130px;">
    <input class="inputLength" type="text" [(ngModel)]="trapez.sideD"   style="position: absolute; top: 50px; left: 220px;">
    <input class="inputLength" type="text" [(ngModel)]="trapez.height"  style="position: absolute; top: 70px; left: 90px;">
    <div class="card-body">
        <h3>Arealet er {{trapez.calculateArea()}}</h3>
        <h3>Omkredsen er {{trapez.calculatePerimeter()}}</h3>
    </div>
</div>